<% if @message %>
  <div class="rounded-md bg-green-50 p-4">
    <div class="flex">
      <div class="flex-shrink-0">
        <!-- Heroicon name: solid/check-circle -->
        <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="ml-3">
        <h2 class="font-medium text-green-800">
          <%= @message %>
        </h2>
      </div>
    </div>
  </div>
<% end %>
<div class="flow-root">
  <ul role="list" class="divide-y divide-gray-200">
    <% if @data["memos"].empty? %>
      <li class="text-center my-8">
        <h2 class="mt-2 text-2xl font-medium text-gray-900">メモが存在しません</h2>
        <div class="mt-6">
          <a href="/new" class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <!-- Heroicon name: solid/plus -->
            <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
            </svg>
            メモを追加する
          </a>
        </div>
      </li>
    <% else %>
      <% @data["memos"].each do |memo| %>
        <li class="relative bg-white py-5 px-4 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
          <div class="flex justify-left space-x-3">
            <div class="min-w-0 flex-1">
              <a href="/<%= memo["title"] %>" class="block focus:outline-none">
                <span class="absolute inset-0" aria-hidden="true"></span>
                <p class="text-xl font-semibold text-gray-900 truncate"><%= memo["title"] %></p>
              </a>
            </div>
          </div>
          <div class="mt-1">
            <p class="line-clamp-4 text-gray-600">
              <%= memo["content"] %>
            </p>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<%= render(:erb, :'shared/links') %>
